@import "../scss/base.scss";

.band-container {
  @include container();
  @include padding(15, 20);
  align-items: center;

  .animal-plushies {
    @include container();
    @include columns();
    @include col-gutter(2);
    text-align: center;
  }

  .animal {
    width: base-unitify(40);
  }

  img.small {
    width: base-unitify(20);
    margin-top: base-unitify(4);
    margin-bottom: base-unitify(1);
  }

  img.large {
    width: base-unitify(25);
    margin: 0;
  }

  .keys {
    @include container();
    @include columns();
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .key-press {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    font-size: 0.75em;
    color: $color-mint;
    line-height: 1.5em;
    background-color: transparent;
    border: none;
    outline: none;
    margin-bottom: base-unitify(4);
    cursor: pointer;

    &.active,
    &:hover {
      color: darken($color-mint, 10%);

      span {
        border: 1px solid darken($color-mint, 10%);
        color: white;
        background-color: $color-mint;
      }
    }

    span {
      margin-left: 4px;
      border: 1px solid $color-mint;
      padding: 4px 6px;
      border-radius: 2px;
    }
  }
}
