<navbar></navbar>
<div class="content" ng-controller="ProjectsCtrl as projectsCtrl">
	<div class="project">
		<div class="banner-wrapper">
			<img ng-hide="{{projectsCtrl.project.thumbnail_url}}" src="{{projectsCtrl.project.thumbnail_url}}">
			<div class="text-wrapper">
				<h1>{{projectsCtrl.project.name}}</h1>
				<p>{{projectsCtrl.project.brief}}</p>
				<div class="links">
					<a href="{{projectsCtrl.project.website}}"><i class="fa fa-external-link"></i></a>
					<a href="{{projectsCtrl.project.github}}"><i class="fa fa-github-alt"></i></a>
				</div>
				<hr>
			</div>
		</div>
		<div class="body-wrapper">
			<div ng-repeat="contribution in projectsCtrl.project.contributions | filterByLeadership">
				<h2>{{contribution.kind}}</h2>
				<p>{{contribution.description}}</p>
				<div ng-repeat="screenshot in contribution.screenshots">
					<img src="{{screenshot.image_url}}">
					<p>{{screenshot.caption}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
<back
></back>
<scroll-top></scroll-top>
