<navbar></navbar>
<div class="content" ng-controller="ProjectsCtrl">
	<div class="projects row center-xs">
		<div class="project col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="project in projects | filterProjectsByTag: tag">
			<a ui-sref="project({projectUrl: project.url_safe, tag: tag})">
				<h2>{{project.name}}</h2>
			</a>
			<p>{{project.brief}}</p>
			<p class="role">
				<span ng-repeat="contribution in project.contributions | filterContributionsByTag: tag">{{contribution.kind}}{{$last ? '' : ' | '}}</span>
			</p>
		</div>
	</div>
</div>
