@import "../scss/base.scss";

.sprinkles-component {
  @include container();
  @include columns();
  flex-flow: wrap;

  .sprinkle-wrapper {
    @include container();
    justify-content: center;
    align-items: center;
  }

  .SVGInline,
  .sprinkle-wrapper {
    transform-origin: center;
  }

  svg {
    transform: rotate(random(360) + deg);
  }
}
